.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(auto);
}
.wrapper > div {
  text-align: center;
  padding: 1em;
  background-color: #48b8c7;
}
.img {
  height: 20em;
}
.rating {
  display: inline-flex;
  flex-direction: row-reverse;
}
.rating_item {
  color: #dcdcdc;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;
}
.rating_item:hover,
.rating_item:hover ~ .rating_item {
  color: #989898;
}
.rating[total-value="1"] .rating_item:nth-child(n + 5),
.rating[total-value="2"] .rating_item:nth-child(n + 4),
.rating[total-value="3"] .rating_item:nth-child(n + 3),
.rating[total-value="4"] .rating_item:nth-child(n + 2),
.rating[total-value="5"] .rating_item:nth-child(n + 1) {
  color: orange;
}
.sections {
  display: flex;
  justify-content: space-between;
}
